# Supabase Configuration
# Remplacez par vos valeurs du fichier .env.local

NEXT_PUBLIC_SUPABASE_URL=https://hvuanbavdwskskrsjnvi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh2dWFuYmF2ZHdza3NrcnNqbnZpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQxODI0MDUsImV4cCI6MjA1OTc1ODQwNX0.F84R6PgiXs4j9lCy4UvgOF2d2xMd5BJ71pPyNZiWqQU

# Optionnel : clé service role (backend uniquement)
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
